.App {
  text-align: center;
}

.navbar_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 10%;
  background-color: #dbdac9;
}

.navbar_wrapper ul {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin-bottom: 0;
}

.navbar_wrapper ul li a {
  font-size: 25px;
  margin-bottom: 0;
  text-decoration: none;
  color: #000;
}